.container {
  width: 1300px;
  height: 384px;
  padding: 24px;
  background: #fff;
  border: 5px solid var(--black);
  border-radius: 5px;
  box-sizing: border-box;
}

.containerControls {
  width: 1300px;
  height: 384px;
  padding: 10px;
  background: #fff;
  border: 5px solid var(--black);
  border-radius: 5px;
  box-sizing: border-box;
}

.containerMenu {
  width: calc(100vw - 580px);
}

.tooltip {
  background-color: rgba(24, 35, 45, 1);
  border-radius: 5px;
  padding: 8px 12px;
  color: var(--white);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  position: relative;
}

.tooltip::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid rgba(24, 35, 45, 1);
}

.controlButtons {
  display: flex;
  margin-left: 40px;
  gap: 10px;
}

.controlBtn {
  font-size: 20px !important;
  font-family: "Inter", sans-serif !important;
  font-weight: 400 !important;
  padding: 2px 18px !important;
  border-radius: 5px !important;
}

.controlBtn:hover {
  background-color: var(--white) !important;
  color: var(--black) !important;
  outline: 1px solid var(--black) !important;
}

.controlBtn:last-child {
  font-size: 20px !important;
  font-family: "Inter", sans-serif !important;
  font-weight: 400 !important;
  background-color: var(--white) !important;
  color: var(--black) !important;
  padding: 0 15px !important;
  outline: 1px solid var(--black) !important;
}

.controlBtn:last-child:hover {
  background-color: var(--white) !important;
  color: var(--black) !important;
  outline: 1px solid var(--black) !important;
}

@media (max-width: 1920px) {
  .containerMenu {
    width: calc(100vw - 850px);
  }
}

@media (max-width: 835px) {
  .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 760px;
    padding: 5px 5px;
  }
}
@media (max-width: 420px) {
  .container {
    display: flex;
    justify-content: center;
    padding: 5px;
    width: 100%;
  }

  .controlBtn {
    display: none;
  }

  .chart {
    width: 851px;
    height: 751px;
  }
}
@media (max-width: 420px) {
  .container {
    display: flex;
    justify-content: center;
    padding: 5px;
    width: 100%;
  }

  .chart {
    width: 851px;
    height: 751px;
  }
}
