.header {
  background-color: var(--background);
  padding: 1rem 0;
  z-index: 90;
  position: relative;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
}

.headerLogo {
  font-size: 24px;
  color: var(--white);
  text-decoration: none;
  transition: all 0.3s ease;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.headerLogo:hover {
  text-shadow: 0 0 10px rgba(250, 250, 250, 0.8);
}

.headerLink {
  color: var(--white);
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  margin: 0 1rem;
  text-decoration: none;
  transition: all 0.3s ease;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  position: relative;
}

.headerLink:hover {
  text-shadow: 0 0 8px rgba(250, 250, 250, 0.6);
}

.headerRightLinks {
  display: flex;
}

.headerLangSwitchBtn,
.headerMobileLangSwitchBtn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.headerLangSwitchIcon:hover {
  filter: drop-shadow(0 0 10px rgba(250, 250, 250, 0.8));
  -webkit-filter: drop-shadow(0 0 10px rgba(250, 250, 250, 0.8));
}

.headerMobileMenuBtn,
.headerMobileMenu {
  display: none;
}

.headerMobileMenu {
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  opacity: 0;
  pointer-events: none;
  z-index: 90;
}

@media (max-width: 1000px) {
  .fixedHeader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;
  }
  .headerRightLinks,
  .headerLink,
  .headerLangSwitchBtn {
    display: none;
  }
  .headerContainer {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    margin: 0 20px;
  }

  .headerMobileMenu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 95%;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 50;
    overflow: hidden;
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }
  .headerMobileMenuWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  .headerMobileMenuLink {
    font-size: 24px;
    font-family: "Inter", sans-serif;
    color: var(--white);
    text-decoration: none;
    transition: all 0.3s ease;
    padding: 1rem 2rem;
    border-radius: 8px;
  }

  .headerMobileMenuLink:hover {
    text-shadow: 0 0 10px rgba(250, 250, 250, 0.8);
  }
  .headerMobileMenuBtn {
    display: flex;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .headerMobileMenuIconClose {
    width: 23px;
    height: 23px;
  }

  .headerLogo {
    font-size: 20px;
  }

  .headerMobileLangSwitchIcon {
    width: 44px;
    height: 44px;
  }
}

@media (max-width: 835px) {
  .fixedHeader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;
  }
  .headerRightLinks,
  .headerLink,
  .headerLangSwitchBtn {
    display: none;
  }
  .headerContainer {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    margin: 0 20px;
  }

  .headerMobileMenu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 95%;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 50;
    overflow: hidden;
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }
  .headerMobileMenuWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  .headerMobileMenuLink {
    font-size: 24px;
    font-family: "Inter", sans-serif;
    color: var(--white);
    text-decoration: none;
    transition: all 0.3s ease;
    padding: 1rem 2rem;
    border-radius: 8px;
  }

  .headerMobileMenuLink:hover {
    text-shadow: 0 0 10px rgba(250, 250, 250, 0.8);
  }
  .headerMobileMenuBtn {
    display: flex;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .headerMobileMenuIconClose {
    width: 23px;
    height: 23px;
  }

  .headerLogo {
    font-size: 20px;
  }

  .headerMobileLangSwitchIcon {
    width: 44px;
    height: 44px;
  }
}
@media (max-width: 420px) {
  .fixedHeader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;
  }
  .headerRightLinks,
  .headerLink,
  .headerLangSwitchBtn {
    display: none;
  }
  .headerContainer {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    margin: 0 20px;
  }

  .headerMobileMenu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 94%;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 50;
    overflow: hidden;
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }
  .headerMobileMenuWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  .headerMobileMenuLink {
    font-size: 24px;
    font-family: "Inter", sans-serif;
    color: var(--white);
    text-decoration: none;
    transition: all 0.3s ease;
    padding: 1rem 2rem;
    border-radius: 8px;
  }

  .headerMobileMenuLink:hover {
    text-shadow: 0 0 10px rgba(250, 250, 250, 0.8);
  }
  .headerMobileMenuBtn {
    display: flex;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .headerMobileMenuIconClose {
    width: 23px;
    height: 23px;
  }

  .headerLogo {
    font-size: 20px;
  }

  .headerMobileLangSwitchIcon {
    width: 44px;
    height: 44px;
  }
}
