.contacts {
  display: flex;
  position: relative;
  margin: 0 auto;
  background: #000;
  margin-top: 30px;
  width: 100%;
  min-height: 530px;
}

.contactsTitle {
  font-size: 40px;
  color: var(--white);
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.contactsSubtitle {
  font-size: 20px;
  color: var(--white);
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.contactsContent {
  display: flex;
  flex-direction: column;
  width: 1300px;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
  padding-top: 52px;
  gap: 8px;
  z-index: 4;
}

.contactsImg {
  position: absolute;
  right: 0;
  z-index: 2;
}

.contactsForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 42px;
  margin-bottom: 82px;
  gap: 10px;
}

.contactsTextFields {
  display: flex;
  flex-direction: column;
  margin-bottom: 82px;
  gap: 15px;
}

.textField {
  font-size: 20px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: rgba(109, 106, 106, 1);
  padding: 18px;
  border-radius: 5px;
  background: transparent;
  border: 2px solid #fff;
  width: 634px;
}

.textField::placeholder {
  color: rgba(109, 106, 106, 1);
  font-size: 20px;
  font-weight: 400;
}
