.chatList {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-height: 100%;
  overflow-y: visible;
  align-items: flex-end;
  margin-top: 10px;
}

@media (max-width: 420px) {
  /* .chatList {
    max-width: 400px;
  } */
}
