.footer {
  position: relative;
  background-color: var(--background);
  padding: 1rem 0;
  z-index: 83;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
}

.footerLogo {
  font-size: 24px !important;
  color: var(--white);
}

.footerLink {
  color: var(--white);
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  margin: 0 1rem;
  text-decoration: none;
}

.footerContactsLink {
  display: flex;
}

.footerRightLinks {
  display: flex;
}

.footerSupportWrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

@media (max-width: 834px) {
  .footerContainer {
    padding: 10px 20px;
  }

  .footerLogo {
    font-size: 24px;
  }

  .footerLink {
    font-size: 16px;
  }

  .footerContactsLink {
    display: none;
  }

  .footerRightLinks {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
@media (max-width: 420px) {
  .footerContainer {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
  }

  .footerLogo {
    font-size: 32px;
  }

  .footerLink {
    font-size: 20px;
  }

  .footerRightLinks {
    flex-direction: column;
    align-items: center;
    gap: 60px;
    margin: 20px 0;
  }

  .footerSupportWrapper {
    padding-top: 40px;
  }
}
