.footer {
  position: relative;
  background-color: var(--background);
  padding: 1rem 0;
  bottom: 0;
  z-index: 90;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
}

.footerLogo {
  font-size: 24px;
  color: var(--white);
  text-decoration: none;
  transition: all 0.3s ease;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.footerLogo:hover {
  text-shadow: 0 0 10px rgba(250, 250, 250, 0.8);
}

.footerLink {
  color: var(--white);
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  margin: 0 1rem;
  text-decoration: none;
  transition: all 0.3s ease;
  border-radius: 6px;
}

.footerLink:hover {
  text-shadow: 0 0 8px rgba(250, 250, 250, 0.6);
}

.footerContactsLink {
  display: flex;
}

.footerRightLinks {
  display: flex;
}
.footerRightLinks nav {
  text-align: center;
}

.footerSupportWrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.footerSupport:hover {
  filter: drop-shadow(0 0 10px rgba(250, 250, 250, 0.8));
  -webkit-filter: drop-shadow(0 0 10px rgba(250, 250, 250, 0.8));
  transition: all 0.3s ease;
}

@media (max-width: 1000px) {
  .footerContainer {
    padding: 10px 20px;
  }

  .footerLogo {
    font-size: 24px;
  }

  .footerLink {
    font-size: 16px;
  }

  .footerContactsLink {
    display: none;
  }

  .footerRightLinks {
    flex-direction: column;
    align-items: center;
  }
  .footerRightLinks nav a {
    margin: 0;
  }
}

@media (max-width: 835px) {
  .footerContainer {
    padding: 16px 20px;
  }

  .footerLogo {
    font-size: 24px;
    padding: 0;
  }

  .footerLink {
    font-size: 16px;
    margin: 0;
  }

  .footerContactsLink {
    display: none;
  }

  .footerRightLinks {
    margin: 0 10px;
    flex-direction: column;
  }
  .footerRightLinks :first-child {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .footerContainer {
    display: flex;
    flex-direction: column;
    padding: 65px 67px;
    gap: 80px;
  }

  .footerLogo {
    font-size: 32px;
  }

  .footerLink {
    font-size: 20px;
  }

  .footerRightLinks {
    flex-direction: column;
    align-items: center;
    margin: 0;
    gap: 0;
  }
  .footerRightLinks :first-child {
    margin-bottom: 60px;
  }

  .footerSupportWrapper {
    padding-top: 0px;
    gap: 10px;
  }
}

@media (max-width: 420px) {
  .footerContainer {
    display: flex;
    flex-direction: column;
    padding: 65px 67px;
    gap: 80px;
  }

  .footerLogo {
    font-size: 32px;
  }

  .footerLink {
    font-size: 20px;
  }

  .footerRightLinks {
    flex-direction: column;
    align-items: center;
    margin: 0;
    gap: 0;
  }
  .footerRightLinks :first-child {
    margin-bottom: 60px;
  }

  .footerSupportWrapper {
    padding-top: 0px;
    gap: 10px;
  }
}
