.chat {
  position: relative;
  width: 1300px;
  margin: 0 auto;
  background-color: var(--white);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.08),
    0 1.5px 6px 0 rgba(0, 0, 0, 0.2);
  height: 100%;
  border-radius: 5px;
}

.chatContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  gap: 10px;
  width: 1142px;
}

.chatHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.chatHeaderBack {
  position: absolute;
  left: 0;
  top: 0;
  width: 64px;
  height: 64px;
  border-radius: 60px;
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-left: 20px;
  cursor: pointer;
}

/* .chatHeaderBack:hover {
  background-color: var(--white);
  border: 1px solid var(--black);
} */

.chatHeaderIcon {
  width: 141px;
  height: 101px;
}

/* .chatHeaderBackIcon:hover {
  fill: red !important;
  color: red;
} */

.chatHeaderInput {
  width: 1000px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px 0 90px 30px;
  background: var(--white);
  font-size: 20px;
  font-family: "Inter", sans-serif;
  border: 2px solid var(--black);
  border-radius: 5px;
  margin-top: 20px;
  color: rgba(24, 35, 45, 1);
  resize: none;
  overflow-y: scroll;
}

.chatHeaderInput::placeholder {
  color: rgba(24, 35, 45, 1);
}

.chatAiHeaderInput {
  width: 1000px;
  height: 97px;
  padding: 30px 20px;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  border: 1px solid var(--black);
  border-radius: 5px;
  margin-top: 20px;
  color: rgba(24, 35, 45, 1);
  resize: none;
  overflow-y: hidden;
}

.chatAiHeaderInput::placeholder {
  color: rgba(24, 35, 45, 1);
}

.chatHeaderTitle {
  font-size: 40px;
  font-family: inherit;
  color: var(--black);
  margin-bottom: 16px;
  color: var(--black);
}

.chatFooter {
  width: 1300px;
  margin-top: 50px;
}
.chatFooterTitle {
  font-size: 40px;
  font-family: inherit;
  font-weight: 400;
  text-align: left;
  margin-left: 40px;
  margin-bottom: 30px;
  color: var(--black);
}
.chatHeaderDescription {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: var(--black);
}
.chatFooter .chatFooterButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.chatFooterBtn {
  width: 94%;
  padding: 30px 20px !important;
}

.chatForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.chatAiForm {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: flex-end;
}

.chatFormBtn {
  width: 40% !important;
  font-size: 20px !important;
  padding: 33px 50px !important;
}

.chatFormBtn:hover {
  background-color: var(--white) !important;
  outline: 1px solid var(--black) !important;
  color: var(--black) !important;
}

.chatFooterBtn:hover {
  background-color: var(--black) !important;
  color: var(--white) !important;
  transition: all 0.4s ease-in-out;
}

/* @media (max-width: 1440px) {
  .chatFormSendBtn {
    display: none;
  }
} */

@media (max-width: 835px) {
  .chat {
    width: 100%;
  }

  .chatContainer {
    width: 100%;
    align-items: center;
    padding: 20px 0;
  }

  .chatHeader {
    align-items: unset;
    padding: 0 10px;
    width: 800px;
  }

  .chatHeaderIcon {
    margin: 0 auto;
  }

  .chatHeaderTitle {
    font-size: 32px;
  }

  .chatHeaderDescription {
    font-size: 16px;
  }

  .chatHeaderTitle,
  .chatHeaderDescription {
    text-align: center;
  }

  .chatHeaderBack {
    width: 60px;
    height: 60px;
  }

  .chatHeaderInput {
    width: 100%;
    font-size: 16px;
    margin-bottom: 30px;
  }

  .chatAiHeaderInput {
    width: 100%;
    height: 55px;
    padding: 18px 20px;
    font-size: 15px;
  }

  .chatAiForm {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 0 auto;
    gap: 15px;
    width: 768px;
  }

  .chatFormBtn {
    width: 90% !important;
    padding: 13px 15px !important;
  }

  .chatFormSendBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 18px; */
    border: none;
    background-color: transparent;
  }

  .chatFooter {
    width: 100%;
  }

  .chatFooterTitle {
    font-size: 32px;
    text-align: center;
    margin-left: 10px;
  }

  .chatFooterButtons {
    width: 100%;
    align-items: flex-start;
  }

  .chatFooterBtn {
    font-size: 20px !important;
    padding: 30px 10px !important;
  }

  /* Chat Content styles */
  .chatContent {
    width: 100%;
  }
}

@media (max-width: 420px) {
  .chat {
    width: 100%;
  }

  .chatContainer {
    width: 100%;
    align-items: center;
    padding: 20px 0;
  }

  .chatHeader {
    align-items: unset;
    padding: 0 10px;
    width: 390px;
  }

  .chatHeaderIcon {
    margin: 0 auto;
  }

  .chatHeaderTitle {
    font-size: 32px;
  }

  .chatHeaderDescription {
    font-size: 16px;
  }

  .chatHeaderTitle,
  .chatHeaderDescription {
    text-align: center;
  }

  .chatHeaderBack {
    width: 60px;
    height: 60px;
  }

  .chatHeaderInput {
    width: 100%;
    font-size: 16px;
    margin-bottom: 30px;
  }

  .chatAiHeaderInput {
    width: 100%;
    height: 55px;
    padding: 18px 20px;
    font-size: 15px;
  }

  .chatAiForm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 15px;
    width: 350px;
  }

  .chatFormBtn {
    width: 100% !important;
    padding: 20px 15px !important;
  }

  .chatFormSendBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
    border: none;
    background-color: transparent;
  }

  .chatFooter {
    width: 100%;
  }

  .chatFooterTitle {
    font-size: 32px;
    text-align: center;
    margin-left: 10px;
  }

  .chatFooterButtons {
    width: 100%;
    align-items: flex-start;
  }

  .chatFooterBtn {
    font-size: 20px !important;
    padding: 30px 10px !important;
  }

  /* Chat Content styles */
  .chatContent {
    width: 100%;
  }
}
