.catalog {
  background-color: var(--white);
}
.catalogContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 1300px;
}

.catalogMenuContainer {
  width: 1100px;
  margin: 0;
  align-items: flex-start;
  margin-left: 80px;
}

.catalogContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin: 0 auto;
}

.catalogMenuContent {
  align-items: flex-start;
  margin: 0;
}

.catalogText {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 70px;
}

.catalogTitle {
  font-size: 40px;
  font-family: inherit;
  color: var(--black);
}

.catalogSubtitle {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: var(--black);
  /* max-width: 820px; */
}

.catalogMenuSubtitle {
  max-width: 820px;
  text-align: left;
}
@media (max-width: 1440px) {
  .catalogContainer {
    width: 1300px;
  }
}
@media (max-width: 1300px) {
  .search {
    width: 1100px;
  }
  .catalogContainer {
    width: 1100px;
  }
}

@media (max-width: 1200px) {
  .catalogText {
    align-items: center;
    width: 84%;
  }
  .catalogTitle {
    align-self: flex-start;
    margin-left: 0;
  }
  .catalogSubtitle {
    max-width: 100%;
  }
}

@media (max-width: 1150px) {
}

@media (max-width: 1100px) {
  .catalogContent {
    align-items: flex-start;
    margin: 0 80px;
  }
  .catalogText {
    width: 77%;
  }
}

@media (max-width: 1000px) {
  .catalogContent {
    margin: 0 40px;
  }
}

@media (max-width: 960px) {
  .catalogContent {
    margin: 0 80px;
  }
  .catalogText {
    width: 70%;
  }
}

@media (max-width: 900px) {
  .catalogContent {
    margin: 0 40px;
  }
}

@media (max-width: 835px) {
  .catalogText {
    width: 100%;
  }
}
@media (max-width: 420px) {
  .catalogContent {
    margin: 0;
  }
  .catalogContainer {
    width: 351px;
  }

  .catalogMenuContainer {
    width: 351px;
  }

  .catalogText {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .catalogTitle {
    font-size: 32px;
  }

  .catalogSubtitle {
    font-size: 16px;
  }
}
