.watch {
  background-color: var(--black);
  min-height: 350px;
}

.watchContent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 50px;
  width: 1300px;
}

.watchLeft {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  width: 50%;
}

.watchRight {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

.watchImg {
  width: 100%;
}

.watchText {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 60px;
}

.watchHeading {
  font-size: 40px;
  font-weight: 400;
  color: var(--white);
}

.watchSubtitle {
  font-weight: 400;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  max-width: 490px;
  color: var(--white);
}

.watchBtn {
  border-radius: 5px;
  padding: 10px 50px;
}
